{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}
{% block page_checkout_item_info_ordernumber %}
    {% if lineItem.payload.productNumber %}
        <div class="cart-item-ordernumber">
            {{ "checkout.cartItemInfoId"|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
        </div>
    {% endif %}

    {% if lineItem.payload.fromDate %}
        <div class="cart-item-ordernumber">
            {{ "orderScheduler.cart-schedule"|trans }} {{ "orderScheduler.label-from"|trans }} {{ lineItem.payload.fromDate }}
            {{ "orderScheduler.label-until"|trans }} {{ lineItem.payload.untilDate }}, {{ lineItem.payload.weeks }},
            {% if lineItem.payload.days %}
                {{ "orderScheduler.label-on"|trans }} {{ lineItem.payload.days }}
            {% endif %}
        </div>
    {% endif %}

    {% if lineItem.payload.address %}
    <div class="cart-item-ordernumber">
        {{ "orderScheduler.cart-address"|trans }} {{ lineItem.payload.address }}
    </div>
    {% endif %}
    {% block page_checkout_item_delivert_date_list  %}
        <div class="cart-item-delivery-date-list">
            <p class="offcanvas-cart-tax"><small>
                    {% for day in lineItem.payload.finalDatesWithday %}
                        {{'orderScheduler.date-day-name'|trans }}{{ day['date'] }} ({{ day['day_name'] }})</br>
                    {% endfor %}
                </small>
            </p>
        </div>
    {% endblock %}
{% endblock %}



